*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

    
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    
}
#nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 45px 65px;
    
}
#nav-part1{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
#nav-part2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}
#nav h3{
    font-size: 25px;
    font-weight: 500;
}
#nav h2{
    font-size: 25px;
    font-weight: 500;
}
#nav h4{
    font-size: 25px;
    font-weight: 500;
}
#content{
    margin-top: 60px;
    padding: 40px 65px;
}
#content h3{
    font-size: 28px;
    font-weight: 600;

}
#content h1{
    margin-top: 45px;
    font-size: 150px;
    line-height: 140px;
    font-weight: 500;
    letter-spacing: -7px;

}

#case{
    padding: 40px 65px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#case h4{
    font-size: 26px;
    font-weight: 600;
}
#case h5{
    font-size: 26px;
    font-weight: 600;
}
#right{
    display: flex;
    align-items: center;
    gap: 40px;

}
#line{
    height: 2px;
    width: 160px;
    background-color: #000;
}
#projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 65px;
    gap: 80px;
}
.elem{
   width: 50%; 
}
.elem-img{
    height: 770px;
    background-color: rgb(173, 209, 220);
    width: 100%;
    border-radius: 30px;
    background-size: cover;
    /* background-position: center; */
}
#img1{
    background-image: url(https://img.freepik.com/premium-photo/yellow-orange-diamond-big-beautiful-jewel-exquisite-gemstone-elegance-luxury_981289-602.jpg?w=740);
    background-position: center;
}
#img2{
    background-image: url(https://cdn.dribbble.com/users/2778493/screenshots/14196709/media/1aa3dcf38a8b00efbc482648aad3df9d.png?resize=1000x750&vertical=center);
}
.bottom{
    display: flex;
    
    justify-content: space-between;
    padding: 40px 0;
}
.bottom i{
    padding: 10px 50px;
    font-size: 20px ;
    border: 2px solid #000;
    border-radius: 50px;
    font-weight: 800;
}
.bottom i:hover{
    background-color: #000;
    color: #fff;
}
.bottom h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}
.bottom h4{
    font-size: 22px;
    color: #969696;
    font-weight: 500;
}